.calculatrice_bloc{
    display: flex;
    justify-content: center;
    font-family: 'Geo', sans-serif;
    font-size: 24px;


}

table{
    padding: 50px;
    background-color: #7cbcc2;
    color : #b4ff00;
    border-radius: 120px;
    box-shadow: 0px 0px 14px -6px black;


}


#ecran{
    background-color: #9ae4eb;
    height: 60px;
    color : rgba(255, 0, 79, 0.54);
    box-shadow: inset 0px 0px 14px -6px black;
    border-radius: 20px;

}


#total{
    height: 50px;
    font-weight: bold;
    font-size: 30px;
}

input{
    background-color: #fffe00;
    color : rgba(255, 0, 79, 0.54);
    width: 60px;
    height: 60px;
    font-weight: bold;
    border-radius: 50px;
    margin: 5px;
}